@{
    ViewBag.Title = "invalid";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2><p  style ="color:white" >Invalid User </p></h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />