@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2><p  style ="color:white" >Invalid Movie Name ....Movie not found...!! </p></h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />