
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div style="margin-top:70px">
    
    <h3>Your Feedback is recieved</h3>
    <a href="~/Home/Index">Back to Home</a>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

